<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Effects</string>
		<key>Controller</key>
		<string>EffectsEditViewController</string>
		<key>Icon</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Adjust</string>
		<key>Controller</key>
		<string></string>
		<key>Icon</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Crop</string>
		<key>Controller</key>
		<string>CropEditViewController</string>
		<key>Icon</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Focus</string>
		<key>Controller</key>
		<string></string>
		<key>Icon</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Frames</string>
		<key>Controller</key>
		<string></string>
		<key>Icon</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Orientation</string>
		<key>Controller</key>
		<string>OrientationEditViewController</string>
		<key>Icon</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Stickers</string>
		<key>Controller</key>
		<string></string>
		<key>Icon</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Enhance</string>
		<key>Controller</key>
		<string></string>
		<key>Icon</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Splash</string>
		<key>Controller</key>
		<string></string>
		<key>Icon</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Brightness</string>
		<key>Controller</key>
		<string>BrightnessEditViewController</string>
		<key>Icon</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Contrast</string>
		<key>Controller</key>
		<string>ContrastEditViewController</string>
		<key>Icon</key>
		<string></string>
	</dict>
</array>
</plist>
